textarea {
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}

.buttonRow {
	width:98%;
	margin: auto;
}

#editor {
	float:none;
	font: 12px sans-serif;
	margin-bottom: 12px;
	margin-right: 12px;
	min-height: 220px;
	width: 95%;
}

#console {
	float:none;
	font: 11px monospace;
	background-color:#000;
	color:#FFF;
	margin-bottom: 12px;
	margin-right: 12px;
	min-height: 220px;
	width: 95%;
}

#plot_area {
	min-width:500px;
}
